<<<<<<< HEAD
.Toolbar {
  display: flex;
  background: #fff;
  justify-content: space-between;
}
.Typography {
  color: #000;
}
.BtnLogout {
  left: 10px;
  width: 70px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
}
=======
/*HeaderLogin.css___________ */
/* #ea9cc3 #e0e0e0 */

.Toolbar {
    display: flex;
    background: #fff;
    justify-content: space-between;
}
.Typography {
    color: #000;
}
.BtnLogout {
    left: 10px;
    width: 70px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    
}

/*HeaderLogout.css___________ */
>>>>>>> post
